/*Estilos da página index.html*/
.center {
    text-align: center;
}


p {
    font-size: 16px;
}

p1 {
    font-size: 16px;
}

.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}


.foto {
    /*display: block;*/
    width: 16px;
}

#menu {
    display: inline;
}
/*Estilos da página index.html*/